/* nav ============================== */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $darkgrey;
  padding: 0;
  color: $white;
  z-index: 10000;
}

.nav-main {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
  position: relative;
  height: 60px;

  .logo {
    height: 100%;
  }

  .items {
    display: none;
    margin: 0 40px;
    height: 100%;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  .items-aside {
    display: none;
    width: 100%;
    height: 100%;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  .item-hover {
    @include transition(all 200ms $easeInOutQuad);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: $basecolor;
  }

  .form-search {
    @include flexbox();
    width: 100%;
  }

  .nav-search {
    font-family: $basefont;
    font-weight: 700;
    font-size: 14px;
    background: transparent;
    border: none;
    border-bottom: 1px solid $white;
    border-radius: 0;
    margin-right: 8px;
    padding: 0 8px;
    height: 34px;
    color: $white;

    @include breakpoint($tablet) {
      font-size: 12px;
    }

    @include breakpoint($desktop) {
      font-size: 14px;
    }

    &::placeholder {
      font-family: $basefont;
      font-weight: 700;
      color: $grey;
    }
  }

  .nav-menu {

    @include breakpoint($tablet) {
      display: none;
    }

    .menu-handle {
      position: relative;
      width: 30px;
      height: 21px;
      user-select: none;
      cursor: pointer;

      &:hover:not(.s_active) {
        
        span {
  
          &:nth-child(2) {
            width: 90%;
          }
  
          &:nth-child(3) {
            width: 80%;
          }
        }
      }

      &.s_active {

        span {
  
          &:nth-child(1) {
            top: 9px;
            transform: rotate(-45deg);
          }
  
          &:nth-child(2) {
            top: 9px;
            transform: translateX(10px);
            opacity: 0;
          }
  
          &:nth-child(3) {
            top: 9px;
            transform: rotate(45deg);
          }
        }
      }

      span {
        @include transition(all 200ms $easeInOutQuad);
        position: absolute;
        width: 100%;
        height: 3px;
        background: $white;
        border-radius: 2px;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 9px;
        }

        &:nth-child(3) {
          top: 18px;
        }
      }
    }
  }

  ul {
    @include flexbox();
    width: 100%;
    height: 100%;

    li {
      @include flexbox();
      @include align-items(center);
      position: relative;
      float: left;
      margin: 0 4px;
      height: 100%;

      &::after {
        @include transition(all $easeInOutQuad 200ms);
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        width: 0;
        height: 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &:hover {
        @include transition(all $easeInOutQuad 200ms);

        &::after {
          content: '';
          background: $basecolor;
          opacity: 1;
          width: 100%;
          height: 5px;
        }
      }

      &.margin-left {
        margin-left: 40px;
      }

      &.margin-right {
        margin-right: 40px;
      }

      &.full-width {
        width: 100%;
      }

      &.no-hover {

        &:hover {
          @include transition(all $easeInOutQuad 200ms);
  
          &::after {
            content: none;
          }
        }
      }

      a {
        @include flexbox();
        @include align-items(center);
        @include user-select(none);
        font-size: 14px;
        font-weight: 700;
        height: 100%;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 10px;
        color: #fff;
        z-index: 1;

        @include breakpoint($tablet) {
          font-size: 12px;
        }
    
        @include breakpoint($desktop) {
          font-size: 14px;
        }

        &:hover {
          @include transition(all $easeInOutQuad 200ms);
          color: $basecolor;
        }

        &.s_here {
          color: $basecolor;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $basecolor;
            z-index: -1;
            opacity: 1;
            pointer-events: none;
            width: 100%;
            height: 5px;
            backface-visibility: hidden;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
  }
}


/* menu ============================== */

.menu {
  @include transition(all 200ms $easeInOutQuad);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4b4a4e;
  padding-top: 100px;
  z-index: 100;
  pointer-events: none;
  opacity: 0;

  &.s_active {
    pointer-events: auto;
    opacity: 1;
  }

  .form-search {
    @include flexbox();
    margin-bottom: 16px;

    .nav-search {
      margin-right: 12px;
      height: 40px;
    }
  }

  ul {
    text-align: center;

    li {

      a {
        display: block;
        font-size: 20px;
        text-decoration: none;
        padding: 16px 0;
        color: $white;
      }
    }
  }
}