/* general ============================== */

body {
  overflow: auto;

  &.s_menu-active {
    overflow: hidden;
  }
}

.flex {
  @include flexbox();
}

.icon {
  fill: currentColor;
  width: 28px;
  height: 28px;
}

.loading-inline {
  position: relative;
  opacity: 1;
  pointer-events: none;
  width: 30px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}


/* content ============================== */

.content {
  position: relative;
  margin: 60px 0 40px;
  padding: 20px 0;
  
  .content-main {
    @include flexbox();
    @include justify-content(space-between);
    @include flex-direction(column);
    margin: 20px auto 0;

    &.l_no-margin {
      margin: 0 auto;
    }

    &.l_text-centered {
      text-align: center;
    }
  }
}


/* footer ============================== */

.footer {
  background: #333;

  .footer-main {
    width: 100%;
    max-width: 720px;
    margin: 80px auto;
    text-align: center;
    color: $white;

    .col {
      margin: 0 0 18px;
    }

    a {
      color: $white;
    }
  }
}
